@model IEnumerable<Mundo_de_Sombras.Models.Libros>

@{
    ViewData["Title"] = "Index";
}

<h1>Busca el libro que mas te guste</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_de_descargas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntuacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_de_descargas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntuacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/images/edit.png.png" width="20" /></a>
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/images/details.png.png" width="20"/></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/images/delete.png.png" width="20"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
